/* This is main css file */

/* Html section */

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    background-color: black;
}

:root{
    --primary-color : #E6533C;
    --secondary-color : #FFFFFF;
    --text-color : #FFFFFF80;
    --primary-background : linear-gradient(180deg, #111111 100%, rgba(119, 119, 119, 0) 0%);
    --light-dark : #222222;
}

/* Font set up start*/

.hero-font-title {
    font-family: 'Inter', sans-serif;
    font-size: 78px;
    font-weight: 900;
    line-height: 93.6px;
    text-align: left;
    color: var(--secondary-color);
}

.miama-font-title {
    font-family: 'Miama', sans-serif;                                 
    font-size: 78px;
    font-style: italic;
    font-weight: 400;
    line-height: 93.6px;
    text-align: left;
    color : var(--secondary-color)
}

.text-font{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: var(--text-color);
}

.logo-font {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    line-height: 43.2px;
    text-align: left;
    color: var(--primary-color);
}

.section-heading{
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 57.6px;
    text-align: left;
    color: var(--secondary-color);
    text-align: center;
}

.section-description{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
    color: var(--text-color);
    margin: 15px 0px;
}

.card-text-head{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: center;
    color: var(--secondary-color);
}

.card-text-des{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
    color: var(--text-color);
    margin-top: 8px;
}

.training-card-title{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
}

.sub-section-head{
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 900;
    line-height: 33.6px;
    text-align: left;
    color: var(--secondary-color);
}

.team-name{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
    color: var(--secondary-color);
}

.footer-sub-head{
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;
    color: var(--secondary-color);
}

/* Font set up end */


/* hero section Css start */
main {
    background: var(--primary-background);
    margin: auto;
    padding: 60px 60px 0px 60px;
    /* min-height: 715px; */
}

.boxed{
    max-width: 1250px;
    margin: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}

.menu-active {
    background-color: var(--primary-color);
    border-radius: 46px;
}

.nav-desktop ul{
    display: flex;
    gap: 15px;
    list-style: none;
}

.nav-desktop li{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;
    padding: 8px 20px 8px 20px;
    color: var(--secondary-color);
}

.hero-section{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.hero-section section{
    flex: 1;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
}

.btn-main{
    background-color: var(--primary-color);
    padding: 16px 40px 16px 40px;
    border-radius: 43px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color: var(--secondary-color);
}

.btn-secon{
    background-color: transparent;
    padding: 16px 40px 16px 40px;
    border-radius: 43px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color: var(--secondary-color);
    border: 1px solid #FFFFFF;
}

.img-sec{
    background-image: url('../images/Images2.png');
    min-height: 650px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.number-font{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
    color: var(--secondary-color);
}

.sub-number-font{
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
    color:#FFFFFFA6;
}

.number-ele1{
    display: flex;
    align-items: end;
    padding-bottom: 60px;
}

.number-ele2{
    display: flex;
    align-items: top;
    padding-top: 60px;
}

.number-card{
    background: #FFFFFF1A;
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 193px;
    height: 64px;
    backdrop-filter: blur(7px);
}

.n-card-inner{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.n-card-left{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--primary-color);
}

/* Hero section end */

/* Habit section start */

    .habits-section{
        width: 100%;
        margin: 80px 0px;
    }

    .habit-cards{
        margin: 80px 0px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .card-image-single{
        width: 180px;
        height: 180px;
        gap: 0px;
        border-radius: 100px;
        border: 4px 0px 0px 0px;
        opacity: 0px;
    }

    .cards{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .card-text{
        margin: 20px;
    }

    .extra-mile-section{
        background-color: var(--light-dark);
        padding: 40px 60px;
        border-radius: 18px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 80px 0px;
    }

    .extra-mile-image{
        width: 366px;
        height: 312px;
        border-radius: 18px;
    }

    .extra-mile-section>div{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .image-top{
        display: grid;
        grid-template-columns: 1fr 2fr 1.2fr;
    }

    .image-bottom{
        display: grid;
        grid-template-columns: 1.5fr 1fr 1.3fr;
    }

    .height-200{
        min-height: 200px;
    }

    .feature-image1{
        background-image: url('../images/exercise1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .feature-image2{
        background-image: url('../images/exercise2.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .feature-image3{
        background-image: url('../images/exercise3.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .feature-image4{
        background-image: url('../images/exercise4.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .feature-image5{
        background-image: url('../images/exercise5.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .feature-image6{
        background-image: url('../images/exercise6.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .overlay1{
        background-color:#06FFD280;
        padding: 20px 15px;
        box-sizing: border-box;
        display: flex;
        align-items: end;
        color: black;
        /* opacity: .5; */
    }

    .overlay2{
        background-color: #FF00004D;
        padding: 20px 15px;
        box-sizing: border-box;
        display: flex;
        align-items: start;
        color: #FFFFFF;
        /* opacity: .5; */
    }

    .overlay3{
        background: rgba(0, 0, 0, 0.5);
        padding: 20px 15px;
        box-sizing: border-box;
        display: flex;
        align-items: end;
        color: #FFFFFF;
        /* opacity: .5; */
    }

    .overlay4{
        background-color:rgba(0, 0, 0, 0.5);
        padding: 20px 15px;
        box-sizing: border-box;
        display: flex;
        justify-content: right;
        color: #FFFFFF;
        /* opacity: .5; */
    }

    .overlay5{
        background-color: rgba(66, 255, 0, 0.3);
        padding: 20px 15px;
        box-sizing: border-box;
        display: flex;
        align-items: end;
        color: #FFFFFF;
        /* opacity: .5; */
    }

    .overlay6{
        background: rgba(0, 71, 255, 0.3);

        padding: 20px 15px;
        box-sizing: border-box;
        display: flex;
        align-items: end;
        color: #FFFFFF;
        /* opacity: .5; */
    }

    .training-excer{
        padding: 40px 0px;
    }

    .et{
        gap:20px;
    }

    .et>:first-child{
        background-color: rgba(255, 255, 255, .2);
        width: 70px;
        height: 70px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .contact-image{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }


/* Habit section End */


/*  Calculator Part */

.calculator-part{
    padding: 50px 10px;
    margin: 80px 0px;
    background-color: rgba(34, 34, 34, 1);
}


.left{
    text-align: left;
}

.bmi-chart{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.inner-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

th{
    text-align: left;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
}

table,td,th{
    border: 1px solid var(--text-color);
    border-collapse: collapse;
    padding: 10px;
}

td{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: var(--text-color);
}

.form-section>form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:8px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.form-section>form>:last-child{
    grid-column: span 2;
}

input,select,textarea{
    height: 48px;
    padding: 12px 40px 12px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border:none;
    color: var(--text-color);
    width: calc(100% - 1px);
}

textarea{
    height: 130px;
}

select option{
    background-color: black !important;
}


/* Meet our team start */

.team{
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin-bottom: 80px;
}

.team-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color:rgba(255, 255, 255, 0.1);
    gap: 20px;
    padding: 20px;
    border-radius: 18px;
    box-sizing: border-box;
    width: 100%;
}

.team-card>div{
    min-height: 272px;
    color: var(--secondary-color);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 18px;
}

.card-single1{
    background-image: url(../images/trainer1.png);
    background-position: center top;
    background-size: cover;
}

.card-single2{
    background-image: url(../images/trainer2.png);
    background-position: center top;
    background-size: cover;
}

.card-single3{
    background-image: url(../images/trainer3.png);
    background-position: center top;
    background-size: cover;
}

.card-single4{
    background-image: url(../images/trainer4.png);
    background-position: center top;
    background-size: cover;
}

.card-single5{
    background-image: url(../images/trainer5.png);
    background-position: center top;
    background-size: cover;
}

.card-single6{
    background-image: url(../images/trainer6.png);
    background-position: center top;
    background-size: cover;
}

.inner-text{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding: 10px 15px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
}
/* meet our team ends */

/* footer */

    footer{
        background-color: rgba(255, 255, 255, 0.1);
        padding: 50px 0px;
    }

    .main-footer{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 15%;
        padding-bottom: 40px;
    }

    .foot-menu>ul{
        display: block;
        list-style: none;
        color: var(--text-color);
        margin-top: 20px;
    }

    .foot-menu>ul>li{
        padding: 10px 0px;
        font-family: Inter;
        font-size: 23px;
        font-weight: 400;
        line-height: 27.6px;
        text-align: left;
        color: var(--text-color);
    }

    .foot-rights{
        font-family: Inter;
        font-size: 23px;
        font-weight: 400;
        line-height: 27.6px;
        text-align: center;
        color: var(--text-color);
        padding-top: 20px;
    }

    hr{
        border: 2px solid rgba(255, 255, 255, 0.1)
    }

    .nav-mobile{
        display: none;
    }

/* footer */

/* Contact Us Section */

.contact-us{
    padding: 40px 10px;
    background: linear-gradient(90deg, rgba(255, 255, 255, .1) 50%,black 50%);
    border-radius: 18px;
}

.contact-form>.section-heading{
    padding: 30px 0px;
}

.contact-image{
    width: 40%
}

.contact-image>img{

}

/* Media query for tablet */

@media only screen and (max-width: 744px) {
    
    .hero-section{
        flex-direction: column;
        gap: 60px;
        min-height: 500px;
    }

    nav{
        padding: 0px;
    }

    .habit-cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .habits-section>section{
        max-width: 744px;
        margin: 0px 10px;
    }

    .extra-mile-section{
        padding: 20px 30px;
        gap: 30px;
    }

    .extra-mile-image{
        width: 256px;
        height: 319px;
    }

    .tablet{
        font-size: 36px;
    }

    .inner-section{
        flex-direction: column;
        gap: 40px;
    }

    table{
        width: fit-content;
    }

    .team-card{
        max-width: fit-content;
        margin: 0px 15px;
    }

    .main-footer{
        padding: 0px 15px;
        min-height: fit-content;
    }

    .main-footer>:first-child{
        grid-column: span 3;
    }

    .main-footer>:last-child{
        grid-column: span 2;
    }

    hr{
        margin-top: 80px;
    }

    .rights-reserved{
        padding-top: 10px;
    }

    input, select, textarea{
        padding: 12px 15px;
        max-width: 100%;
    }

}

@media screen and (max-width: 577px) {
    .extra-mile-section{
        flex-direction: column;
    }

    .extra-mile-section button{
        max-width: none !important;
    }

    .extra-mile-image{
        width: auto;
        height: 190px;
    }

    .extra-mile-section>:last-child{
        align-items: center !important;
    }
}

@media screen and (max-width: 680px){
    .nav-desktop{
        display: none;
    }

    .nav-mobile{
        display: block;
    }
}

/* Media Query for mobile */

@media only screen and (max-width: 393px) {

    .button-sec{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .btn-main{
        padding: 16px 20px;
    }

    .btn-secon{
        padding: 16px 20px;
    }

    .nav-desktop{
        display: none;
    }

    .nav-mobile{
        display: block;
    }

    nav{
        padding: 0px 10px;
    }

    .hero{
        padding: 8px;
    }

    main{
        padding: 20px 5px;
    }

    .hero-font-title,.miama-font-title{
        font-size: 36px;
        line-height: 43.2px;
    }

    .hero-title{
        max-width: 282px;
    }

    .hero{
        padding: 20px;
    }

    .number-font{
        font-size: 30px;
        line-height: 30.24px;
    }

    .number-card{
        max-width: 145px;
        padding: 10px 10px;
        height: 75px;
        box-sizing: border-box;
    }

    .sub-number-font{
        font-size: 9.83px;
        line-height: 15px;
    }

    .img-sec{
        justify-content: space-around;
        max-height: 588px;
    }

    .section-heading{
        font-size: 32px;
        line-height: 38px;
    }

    .habits-section{
        margin: 10px 0px;
    }

    .section-description{
        line-height: 24px;
        /* padding: 10px; */
        margin: 10px 0px;
    }

    .habit-cards{
        grid-template-columns: repeat(1, 1fr);
        margin: 30px 0px;
        gap: 15px;
    }

    .extra-mile-section{
        flex-direction: column;
    }

    .extra-mile-section button{
        max-width: none !important;
    }

    .extra-mile-image{
        width: auto;
        height: 190px;
    }

    .extra-mile-section>:last-child{
        align-items: center !important;
    }

    .habits-section>:last-child{
        padding: 0px 10px;
    }

    .image-top{
        grid-template-columns: 1fr 1fr;
    }

    .image-bottom{
        grid-template-columns: .8fr 1fr;
    }

    .image-top>:last-child, .image-bottom>:last-child{
        display: none;
    }

    .height-200{
        min-height: 128px;
    }

    .bmi-calc>:first-child{
        padding:0px 15px;
    }

    .calculator-part{
        margin: 30px 0px;
        padding: 20px 10px;
    }

    .sub-section-head{
        font-size: 16px;
        line-height: 19px;
    }

    input, select, textarea{
        padding: 12px 5px;
        max-width: 100%;
    }

    .team-title{
        padding: 0px 15px;
    }

    .team-card{
        grid-template-columns: repeat(1, 1fr);
        max-width: -webkit-fill-available;
    }

    .main-footer .logo-font{
        font-size: 70px;
    }

    .main-footer{
        display: block;
    }

    .main-footer>div{
        padding-top: 15px;
    }

}